.purple-bg-white-text {
  background-color: #4c2474;
  color: white;
}

.align-end {
  text-align: end;
}

.display-inline {
  display: inline;
}

.align-right {
  text-align: right;
}

.save-button {
  border-radius: 10%;
  height: 30px;
}

.save-button:hover {
  cursor: pointer;
}

img {
  width: 100%;
}

.full-width {
  width: 100%;
}

.input-height {
  height: 30px;
}

.box-height {
  height: 130px;
}

.rounded-border {
  border-radius: 2%;
}

.border {
  border-color: #d1d1d1;
  border-width: thin;
}

.gray-background {
  background-color: #f5f4f4;
}

.bottom-margin {
  margin-bottom: 2%;
}

.bottom-margin-more {
  margin-bottom: 2.5%;
}

.top-margin {
  margin-top: 6%;
}

.padding-zero {
  padding: 0;
}

.medium-font {
  font-size: medium;
}

.no-bullets {
  list-style-type: none;
}

.no-decor {
  text-decoration: none;
  color: inherit;
}

.no-decor:hover {
  cursor: pointer;
}

.new {
  color: white;
  text-decoration: none;
  background-color: #4c2474;
  padding: 2%;
  border-radius: 10%;
  font-size: medium;
}

.row-no-wrap {
  display: flex;
  justify-content: space-between;
}

.align-self-center {
  align-self: center;
}

.delete-button {
  color: red;
  border-width: 0;
  text-decoration: underline;
}

.delete-button:hover {
  cursor: pointer;
}
